# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

# Node modules
node_modules/

# Build outputs
.next/
out/

# Local env files (but include .env.production for Cloud Run)
.env
.env.local
.env.development
.env.development.local
.env.test.local

# IDE
.idea/
.vscode/

# Git
.git/
